
<div id="editProtocol">
    <form id="editProtocol_form" *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        
        <div class="form_fields">
            <label>Category</label>
            <input type="text" formControlName="category" placeholder="category"
                [ngClass]="{'is-invalid': submitted && values['category'].errors}">

            <div *ngIf="submitted && values['category'].errors">
                <div *ngIf="values['category'].errors?.['required']">
                    Category is required.
                </div>
            </div>
        </div>

        <div class="form_fields">
            <label>Name</label>
            <input type="text" formControlName="name" placeholder="name"
                [ngClass]="{'is-invalid': submitted && values['name'].errors}">

            <div *ngIf="submitted && values['name'].errors">
                <div *ngIf="values['name'].errors?.['required']">
                    Name is required.
                </div>
            </div>
        </div>

        <div class="form_fields">
            <label>Protocol</label>
            <input type="text" formControlName="protocol" placeholder="protocol"
                [ngClass]="{'is-invalid': submitted && values['protocol'].errors}">

            <div *ngIf="submitted && values['protocol'].errors">
                <div *ngIf="values['protocol'].errors?.['required']">
                    Protocol is required.
                </div>
            </div>
        </div>

        <button type="submit">Save</button>

    </form>
</div>