

<div id="reset_password">
    <form id="login_form" (ngSubmit)="resetPasswordSubmit()">
        <h2>Enter your new Password</h2>

        <div *ngIf="formErrors">
            <p class="form_err">New password required</p>
        </div>

        <div class="form_fields">
            <input type="password" name="password" placeholder="New password"
                [(ngModel)]="user.password"/>
        </div>

        <button id="reset_pass_btn" mat-raised-button type="submit" role="button">
            Reset password
        </button>

        <div class="subfield_div">
            <p>Don't have an account? <a class="subfields" href="signup">Sign up!</a></p>
            <p>Have an account? <a class="subfields" href="login">Log in</a></p>
        </div>

    </form>
</div>
