
#page_div{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #1E3E59 7%, #047CCC 85%, #44B2F2 100%);
}

#reset_password_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    background-color: #e8eef1;
    border-radius: 5%;
    box-shadow: 2px 2px #1E3E59;
}

#logo_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 200px;
    height: 200px;
}

#title{
    margin-bottom: 0;
}

#subtitle{
    margin: 0;
}

input{
    height: 2rem;
    text-indent: 40px;
}

#password_input{
    background: url(../../assets/images/lock_blue_icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

#reset_password_form{
    display: flex;
    flex-direction: column;
    width: 25vw;
}
.form_fields{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    label{
        font-weight: bold;
        text-align: center;
    }
}

.subfield_div{
    text-align: center;
}

.subfields{
    text-decoration: none;
    color:#43b0f1;
}

#reset_pass_btn{
    background-color: #057dcd;
    color: white;
    margin-top: 20px;
    height: 2.3rem;
    cursor:pointer;
}

.form_err{
    color: red;
}

@media screen and (max-width: 1200px){
    #reset_password_div{
        width: 40vw;
        padding: 2rem;
    }

    #logo {
        width: 175px;
        height: 175px;
    }

    #reset_password_form{
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    #reset_password_div{
        width: 75vw;
    }

    #logo{
        width: 150px;
        height: 150px;
    }
}
