h2{
    text-align: center;
}

#reset_password{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    width: 25vw;
}
.form_fields{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    label{
        font-weight: bold;
        text-align: center;
    }
}

.subfield_div{
    text-align: center;
}

.subfields{
    text-decoration: none;
    color:#057dcd;
}

button{
    background-color: #057dcd;
    color: white;
    margin-top: 20px;
    height: 2.3rem;
    cursor:pointer;
}

@media screen and (max-width: 600px){
    form{
        width: 80vw;
        padding-bottom: 12rem;
    }
}
