
<div id="edit_dose">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Edit dose: {{medication_name}} - {{indication_name}}
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form id="edit_dose_form" *ngIf="edit_form" [formGroup]="edit_form" (ngSubmit)="onSubmit()">

                <div class="form_fields">
                    <label>Dose</label>
                    <input type="text" formControlName="dose" placeholder="50, 0.1, etc.."
                        [ngClass]="{'is-invalid': submitted && values['dose'].errors}">
        
                    <div *ngIf="submitted && values['dose'].errors">
                        <div *ngIf="values['dose'].errors?.['required']">
                            Dose is required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Measurement Units</label>
                    <input type="text" formControlName="mu" placeholder="mg, mcg, etc.."
                        [ngClass]="{'is-invalid': submitted && values['mu'].errors}">
        
                    <div *ngIf="submitted && values['mu'].errors">
                        <div *ngIf="values['mu'].errors?.['required']">
                            Measurement units are required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Route</label>
                    <input type="text" formControlName="route" placeholder="IV, PO, etc.."
                        [ngClass]="{'is-invalid': submitted && values['route'].errors}">
        
                    <div *ngIf="submitted && values['route'].errors">
                        <div *ngIf="values['route'].errors?.['required']">
                            Route is required.
                        </div>
                    </div>
                </div>
        
                <div id="buttons_div">
                    <button mat-raised-button id="save_btn" type="submit">Save</button>
                    <button mat-raised-button id="cancel_btn" (click)="onCancel()">Cancel</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>