h2{
    text-align: center;
}

#login_signup_pic{
    background: url(../../assets/images/ambulance.jpg);
    background-size: cover;
    background-repeat: "no-repeat";
    height: 35vh;
    width: 100vw;
}

#signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#signup_form{
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.form_fields{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    label{
        font-weight: bold;
        text-align: center;
    }
}

#form_errors{
    text-align:center;
    color: red;
}

.subfield_div{
    text-align: center;
}

.subfields{
    text-decoration: none;
    color:#057dcd;
}

button{
    background-color: #057dcd;
    color: white;
    margin-top: 20px;
    height: 2.3rem;
    cursor:pointer;
}

@media screen and (max-width: 600px){
    form{
        width: 80vw;
        padding-bottom: 12rem;
    }
}
