
<div id="page_div">

    <div id="signup_div">
        <div id="logo_div">
            <img id="logo" src="../../assets/images/PS_Logo_Black_White_text.png">
        </div>
        <form id="signup_form" (ngSubmit)="signUpSubmit()">
            <h2 id="title">Welcome!</h2>
            <p id="subtitle">Continue below to create your account.</p>
    
            <div id="form_errors" *ngIf="formErrors">
                <p class="form_err">All fields required</p>
            </div>
    
            <div class="form_fields">
                <input id="name_input" type="text" name="name" placeholder="Name"
                    [(ngModel)]="user.name"/>
            </div>
    
            <div class="form_fields">
                <input id="email_input" type="email" name="email" placeholder="Email"
                    [(ngModel)]="user.email"/>
            </div>
    
            <div class="form_fields">
                <input id="password_input" type="password" name="password" placeholder="Password"
                    [(ngModel)]="user.password"/>
            </div>
    
            <button id="sign_in_btn" mat-raised-button type="submit">
                Sign up
            </button>
    
            <div class="subfield_div">
                <p>Have an account? <a class="subfields" href="login">Log in</a></p>
            </div>
    
        </form>
    </div>
</div>
