/* Color palette

#1e3d58 - Navbar
#057dcd - Sidenav   
#43b0f1 - Secondary 
#e8eef1 - App wide BG

*/

mat-toolbar{
    background-color: #1e3d58;
    color: white;
    /*
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    */
}

#nav_desktop{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
#nav_desktop a{
    color: white;
    text-decoration: none;
    margin-left: 2rem;
}

.menu-items{
    padding: 1.5rem;
}

#log{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:flex-end;
}

.topnav_login_logout{
    padding: 1.5rem;
}


#hamburger{
    display: none;
}

mat-sidenav-container{
    height: 100vh;
}

mat-sidenav{
    display: none;
    width: 40vw;
    background-color: #057dcd;
    padding: 16px;
    border-right: none;
}

mat-sidenav span{
    font-size: 20px;
    padding: 1rem;
    color: white;
}

mat-sidenav a{
    text-decoration: none;
}

mat-sidenav-content{
    background-color: #e8eef1;
}

mat-divider{
    background-color: white;
}

#acc_header{
    padding-top: 1rem;
}

@media screen and (max-width: 950px){
    mat-sidenav{
        display: initial;
    }

    #hamburger_div{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content:flex-end;
    }

    #hamburger{
        display:initial;
    }

    #nav_desktop{
        display: none;
    }
}

@media screen and (max-width: 800px){
    mat-sidenav{
        width: 60vw;
    }
}