

<mat-toolbar class="mat-elevation-z8">
    <span class="menu-items">ParaStudy</span>
    <div id="hamburger_div">
        <button id="hamburger" mat-icon-button 
        (click)="sidenav.toggle()">
        <mat-icon >menu</mat-icon>
        </button>
    </div>

    <div id="nav_desktop">
        <a routerLink="" class="menu-items">
            <span>Home</span>
        </a>
        <a routerLink="list-medications" class="menu-items">
            <span>Medications</span>
        </a>
        <a routerLink='flashcards' class="menu-items">
            <span>Flashcards</span>
        </a>
        <a routerLink='quiz' class="menu-items">
            <span>Quiz</span>
        </a>
        <div id="log">
            <a routerLink="login" class="topnav_login_logout" *ngIf="!isLoggedIn()">
                <span>Login</span>
            </a>
            <a routerLink="my-account" class="topnav_login_logout" *ngIf="isLoggedIn()">
                <span>Account</span>
            </a>
        </div>
    </div>
</mat-toolbar>
  
<mat-sidenav-container>
    <mat-sidenav #sidenav class="mat-elevation-z8" mode="push">
        <mat-list>
            <mat-list-item>
                <a routerLink="" class="menu-icons"
                (click)="sidenav.toggle()">
                    <span>Home</span>
                </a>
            </mat-list-item>

            <mat-list-item>
                <a routerLink="list-medications" class="menu-icons"
                (click)="sidenav.toggle()">
                    <span>Medications</span>
                </a>
            </mat-list-item>

            <mat-list-item>
                <a routerLink='studydeck' class="menu-icons"
                (click)="sidenav.toggle()">
                    <span>Study</span>
                </a>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <a routerLink="my-account"
                *ngIf="isLoggedIn()" (click)="sidenav.toggle()">
                    <span>Account</span>
                </a>
            </mat-list-item>

            <mat-list-item>
                <a routerLink="login" class="login_logout"
                    *ngIf="!isLoggedIn()" (click)="sidenav.toggle()">
                    <span>Login</span>
                </a>
            </mat-list-item>

        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

<!--
    <app-footer></app-footer>
-->