
<div id="edit_indication">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Edit name: {{indication_name}}
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form id="edit_indication_form" *ngIf="edit_form" [formGroup]="edit_form" (ngSubmit)="onSubmit()">

                <div class="form_fields">
                    <label>Indication</label>
                    <input type="text" formControlName="indication" placeholder="name"
                        [ngClass]="{'is-invalid': submitted && values['indication'].errors}">
        
                    <div *ngIf="submitted && values['indication'].errors">
                        <div *ngIf="values['indication'].errors?.['required']">
                            <p class="form_err">Indication is required</p>
                        </div>
                    </div>
                </div>
        
                <div id="buttons_div">
                    <button mat-raised-button id="save_btn" type="submit">Save</button>
                    <button mat-raised-button id="cancel_btn" (click)="onCancel()">Cancel</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>