/* Color palette

#1e3d58
#057dcd
#43b0f1
#e8eef1

*/

/*-------------------------------------------------------------------------- Global --------------------------------------------------------------------------*/
body{
  margin: 0;
}

.bg{
  background-color: #e8eef1;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

h1{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 48px;
}

.bottom_margin{
  margin-bottom: 20%;
  margin-top: 10%;
}

/*-------------------------------------------------------------------------- Navbar --------------------------------------------------------------------------*/

#navbar_div{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 7vh;
  background-color: #1e3d58;
}

#navbar_div a{
  padding: 0.5rem;
  margin-left: 2rem;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

/*-------------------------------------------------------------------------- Home ----------------------------------------------------------------------------*/
.index_top_pic{
  background: url(../images/ambulance.jpg);
  background-size:cover;
  height: 35vh;
  width: 100vw;
  background-repeat: "no-repeat";
}

@media(max-width: 900px){
  .welcome{
    background: url(../images/ambulance_small.jpg);
    background-size: cover;
    height: 25vh;
    width: 100vw;
    background-repeat: "no-repeat";
  }
}

.card_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.card_header{
  background-color: #057dcd;;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(75, 82, 90, 0.822);
  margin-bottom: 1rem;
  color: white;
  
  h3{
    font-style: italic;
    font-size: 36px;
    text-align: center;
  }
}

.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  height: 45vh;
}

.card_content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 35vw;
  height: auto;
  margin: 2rem 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(75, 82, 90, 0.822);

  a:hover{
    background-color: #43b0f1;
    border-radius: 15px;
  }
  h3{
    margin: 1rem;
  }
}


@media(max-width: 1100px){
  .card_content{
    width: 80vw;
  }
  .pic{
    width: 50vw;
    height: 35vh;
  }
}

.about_container{
  display: flex;
  flex-direction: row;
}

/*-------------------------------------------------------------------- Topics: Protocols & Medications ----------------------------------------------------------------------------*/

.topics_card_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 85vw;
  height: auto;
  margin-top: 2rem;
}

.topic_card{
  background-color: white;
  width: 60vw;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgba(75, 82, 90, 0.822);
  margin: 2.5rem 0;
}

.topic_card_header{
  text-align: center;
  background-color: #057dcd;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgba(75, 82, 90, 0.822);
  margin: 0 1rem;
  height: auto;
}



.topic_card_header h3{
  font-size: 28px;
  padding: 0.3rem;
  color: #e8eef1;
}

.topic_card_body{
  margin: 0 1rem;
  font-size: 20px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position:sticky;
  float: right;
  width: 15vw;
  height:100vh;
  top: 0;
  background-color: #1e3d58;

  a{
    font-size: larger;
    font-weight: bold;
    color: white;
  }
  a:hover{
    background-color: white;
    color: black;
  }
  li{
    margin: 1rem 0;
  }
}

@media (max-width: 900px){
  .sidebar{
    display: none;
  }
}

/*-------------------------------------------------------------------------- Footer --------------------------------------------------------------------------------*/
#footer{
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  width: 100vw;
  height: 10vh;
  background-color: #1e3d58; 
}





























/*-------------------------------------------------------------------------- Cardiac -------------------------------------------------------------------------------*/
.cardiac_bg{
  background-color: rgb(87, 19, 19);
  color: white;
  background-image: url('../images/heart-real.png');
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: right;
}

.cardiac_header{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.cardiac_content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
}

.cardiac_card {
  display: flex;
  flex-direction: column;
  margin: 4rem 4rem;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px 2px rgb(73, 73, 73);
  border-radius: 8%;
  h3{
    text-align: center;
  }

}

.cardiac_card_img{
  padding: 2rem;
  width: 300px;
  height: 300px;
  object-fit: fill;
}


/*----------------------------------------------------------------------------- Medical -----------------------------------------------------------------------------*/
.medical_bg{
  background-color: rgb(25, 87, 19);
  color: white;
  background-image: url('../images/virus.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: top left;
}

.medical_header{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.medical_content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
}

.medical_card {
  display: flex;
  flex-direction: column;
  margin: 4rem 4rem;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px 2px rgb(73, 73, 73);
  border-radius: 8%;
  h3{
    text-align: center;
  }

}

.med_card_img{
  padding: 2rem;
  width: 300px;
  height: 300px;
  object-fit: fill;
}


/*-------------------------------------------------------------------------- Trauma --------------------------------------------------------------------------*/
.trauma_bg{
  background-color: rgb(23, 66, 94);
  color: white;
  background-image: url('../images/ambulance-bg.png');
  background-repeat: no-repeat;
  background-size: 375px;
  background-position: bottom right;
}

.trauma_header{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.trauma_content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
}

.trauma_card {
  display: flex;
  flex-direction: column;
  margin: 4rem 4rem;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px 2px rgb(73, 73, 73);
  border-radius: 8%;
  h3{
    text-align: center;
  }

}

.trauma_card_img{
  padding: 2rem;
  width: 300px;
  height: 300px;
  object-fit: fill;
}
