

/*-------------------------------------------------------------------------- Global --------------------------------------------------------------------------*/
a{
  text-decoration: none;
  color: black;
}

ul{
  list-style-type: none;
}

h1{
  text-align: center;
  color: white;
  font-weight: bold;
}

/*-------------------------------------------------------------------------- Sidebar --------------------------------------------------------------------------*/

#sidebar{
  position:sticky;
  float: right;
  top: 0;
  z-index: 1;
  width: 15vw;
  height:100vh;
  ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 900px){
  #sidebar{
    display:none;
  }
}

#content_card{
  width: 75vw;
}
@media (max-width: 900px){
  #content_card{
    width: 100vw;
    height: 100vh;
  }
}

/*-------------------------------------------------------------------------- Navbar: Global --------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------- Home --------------------------------------------------------------------------*/
#index_bg{
  background-image: url("/images/ambulance.avif");
  background-size: 33rem 100vh;
  background-repeat: no-repeat;
}

.welcome{
  background-color: white;
  display: flex;
  flex-direction:column;
  float: right;
  height: 50vh;
  width: 33vw;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  opacity: 0.85;
}

@media (max-width: 1100px){
  #index_bg{
    background-size: cover;
  }
  .welcome{
    float: left;
    height: auto;
    width: 75vw;
  }
}


/*-------------------------------------------------------------------------- Cardiac --------------------------------------------------------------------------*/
.cardiac_bg{
  background-color: rgb(87, 19, 19);
  color: white;
  background-image: url('../images/heart-real.png');
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: right;
}

.cardiac_header{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.cardiac_content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
}

.cardiac_card {
  display: flex;
  flex-direction: column;
  margin: 4rem 4rem;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px 2px rgb(73, 73, 73);
  border-radius: 8%;
  h3{
    text-align: center;
  }

}

.cardiac_card_img{
  padding: 2rem;
  width: 300px;
  height: 300px;
  object-fit: fill;
}


/*---------------------------------------------------------------------- Cardiac: algorithms ----------------------------------------------------------------------*/
#algorithms_bg{
  background-color: rgb(87, 19, 19);
}


/*-------------------------------------------------------------------------- Medications --------------------------------------------------------------------------*/
#medications_bg{
  background-color: rgb(175, 101, 57);
}


/*-------------------------------------------------------------------------- Medical --------------------------------------------------------------------------*/
.medical_bg{
  background-color: rgb(25, 87, 19);
  color: white;
  background-image: url('../images/virus.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: top left;
}

.medical_header{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.medical_content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
}

.medical_card {
  display: flex;
  flex-direction: column;
  margin: 4rem 4rem;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px 2px rgb(73, 73, 73);
  border-radius: 8%;
  h3{
    text-align: center;
  }

}

.med_card_img{
  padding: 2rem;
  width: 300px;
  height: 300px;
  object-fit: fill;
}


/*-------------------------------------------------------------------------- Trauma --------------------------------------------------------------------------*/
.trauma_bg{
  background-color: rgb(23, 66, 94);
  color: white;
  background-image: url('../images/ambulance-bg.png');
  background-repeat: no-repeat;
  background-size: 375px;
  background-position: bottom right;
}

.trauma_header{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.trauma_content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
}

.trauma_card {
  display: flex;
  flex-direction: column;
  margin: 4rem 4rem;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px 2px rgb(73, 73, 73);
  border-radius: 8%;
  h3{
    text-align: center;
  }

}

.trauma_card_img{
  padding: 2rem;
  width: 300px;
  height: 300px;
  object-fit: fill;
}
