<div class="protocol_card">
    <div>
        <h2><b>Category: </b>
            {{protocol.category}}
        </h2>

        <h3><b>Name: </b>
            {{protocol.name}}
        </h3>

        <h4><b>Protocol: </b>
            {{protocol.protocol}}
        </h4>

        <button id="edit_btn" *ngIf="isLoggedIn()" type="button" (click)="editProtocol(protocol)">
            Edit
        </button>
        <button id="delete_btn" *ngIf="isLoggedIn()" type="button" (click)="deleteProtocol(protocol)">
            Delete
        </button>
    </div>
</div>