<div id="page_div">

    <div id="request_reset_div">
        <div id="logo_div">
            <img id="logo" src="../../assets/images/PS_Logo_Black_White_text.png">
        </div>
        <form id="request_reset_form" (ngSubmit)="requestPasswordResetSubmit()">
            <h2 id="title">Request password reset</h2>
            <p id="subtitle">Enter your email below and we'll send you a link to reset your password.</p>
    
            <div *ngIf="formErrors">
                <p class="form_err">Please enter a valid email</p>
            </div>
    
            <div class="form_fields">
                <input id="email_input" type="email" name="email" placeholder="Email"
                    [(ngModel)]="user.email"/>
            </div>
    
            <button id="req_reset_btn" mat-raised-button type="submit" role="button">
                Email me a reset link
            </button>
    
            <div class="subfield_div">
                <p>Don't have an account? <a class="subfields" href="signup">Sign up!</a></p>
                <p>Have an account? <a class="subfields" href="login">Log in</a></p>
            </div>
    
        </form>
    </div>
</div>

