
<div id="requestPasswordReset">
    <form id="login_form" (ngSubmit)="requestPasswordResetSubmit()">
        <h2>Reset Password</h2>

        <div *ngIf="formErrors">
            <p>Incorrect email or password</p>
        </div>

        <div class="form_fields">
            <input type="email" name="email" placeholder="Email"
                [(ngModel)]="user.email"/>
        </div>

        <button type="submit" role="button">
            Email me a reset link
        </button>

        <div class="subfield_div">
            <p>Don't have an account? <a class="subfields" href="signup">Sign up!</a></p>
            <p>Have an account? <a class="subfields" href="login">Log in</a></p>
        </div>

    </form>
</div>
