<div id="delete_div">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                WARNING! Deleting can not be undone.
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div id="data_div">

                <h3> Are you sure you want to delete your account?</h3>
            
                <div id="btns_div">
                    <button id="delete_btn" mat-raised-button (click)="onSubmit()"
                        style="background-color: rgb(241, 102, 102)">
                        Delete my account
                    </button>
                    <button id="cancel_btn" mat-raised-button (click)="onCancel()"
                        style="background-color:rgb(124, 124, 124); color: white">Cancel</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
