
<div id="addMed">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Add medication
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form id="addMed_form" *ngIf="addForm" [formGroup]="addForm" (ngSubmit)="onSubmit()">
            
                <div class="form_fields">
                    <label>Classification</label>
                    <input type="text" formControlName="classification" placeholder="classification"
                        [ngClass]="{'is-invalid': submitted && values['classification'].errors}">
        
                    <div *ngIf="submitted && values['classification'].errors">
                        <div *ngIf="values['classification'].errors?.['required']">
                            Classification required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Name</label>
                    <input type="text" formControlName="name" placeholder="name"
                        [ngClass]="{'is-invalid': submitted && values['name'].errors}">
        
                    <div *ngIf="submitted && values['name'].errors">
                        <div *ngIf="values['name'].errors?.['required']">
                            Name required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Age</label>
                    <input type="text" formControlName="age" placeholder="Adult, Pediatric"
                        [ngClass]="{'is-invalid': submitted && values['age'].errors}">
        
                    <div *ngIf="submitted && values['age'].errors">
                        <div *ngIf="values['age'].errors?.['required']">
                            Age required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Indication</label>
                    <textarea type="text" formControlName="indication" placeholder="indication"
                        [ngClass]="{'is-invalid': submitted && values['indication'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['indication'].errors">
                        <div *ngIf="values['indication'].errors?.['required']">
                            Indication required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Dose</label>
                    <input type="text" formControlName="dose" placeholder="50, 0.1, etc.."
                        [ngClass]="{'is-invalid': submitted && values['dose'].errors}">
        
                    <div *ngIf="submitted && values['dose'].errors">
                        <div *ngIf="values['dose'].errors?.['required']">
                            Dose required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Measurement units</label>
                    <textarea type="text" formControlName="mu" placeholder="mg, mcg, etc.."
                        [ngClass]="{'is-invalid': submitted && values['mu'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['mu'].errors">
                        <div *ngIf="values['mu'].errors?.['required']">
                            Unit required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Route</label>
                    <textarea type="text" formControlName="route" placeholder="IV, PO, etc.."
                        [ngClass]="{'is-invalid': submitted && values['route'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['route'].errors">
                        <div *ngIf="values['route'].errors?.['required']">
                            Route required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Contraindication(s)</label>
                    <textarea type="text" formControlName="contraindications" placeholder="contraindications"
                        [ngClass]="{'is-invalid': submitted && values['contraindications'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['contraindications'].errors">
                        <div *ngIf="values['contraindications'].errors?.['required']">
                            Contraindications required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Side Effects</label>
                    <textarea type="text" formControlName="side_effects" placeholder="side effects"
                        [ngClass]="{'is-invalid': submitted && values['side_effects'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['side_effects'].errors">
                        <div *ngIf="values['side_effects'].errors?.['required']">
                            Side effects required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Actions</label>
                    <textarea type="text" formControlName="actions" placeholder="actions"
                        [ngClass]="{'is-invalid': submitted && values['actions'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['actions'].errors">
                        <div *ngIf="values['actions'].errors?.['required']">
                            Action(s) required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Notes</label>
                    <textarea type="text" formControlName="notes" placeholder="notes"
                        [ngClass]="{'is-invalid': submitted && values['notes'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['notes'].errors">
                        <div *ngIf="values['notes'].errors?.['required']">
                            Notes required.
                        </div>
                    </div>
                </div>
        
                <div id="btns_div">
                    <button id="save_btn" type="submit" mat-raised-button>Save</button>
                    <button id="cancel_btn" type="submit" mat-raised-button (click)="onCancel()">Cancel</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>