
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<div id="navbar_div" *ngIf="isLoggedIn()">
  <a id="brand">ParaStudy</a>
  <a class="nav_items" href="" >Home</a>
  <a class="nav_items" href="list-medications">Medications</a>
  <!--<a class="nav_items" href="list-protocols" >Protocols</a>-->
  <a class="nav_items" href='studydeck'>Study</a>

  <div id="navbar_div_right">
    <a class="login_logout" *ngIf="!isLoggedIn()" routerLink="login">Login</a>
    <a class="login_logout" *ngIf="isLoggedIn()" routerLink="login" (click)="onLogout()">Logout</a>
  </div>

</div>
