<!DOCTYPE html> 

<html lang="en">
    <head>
      <title>{{title}}</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="/stylesheets/style.css" rel="stylesheet">
    </head>

    <body>
        
    <h2>{{pageName}}</h2>

    <div id="login">

        <form id="login_form">
            <input id="email" type="email" name="email" 
            placeholder="Enter your email">

            <input id="password" type="password" name="password"
            placeholder="Enter your password">

            <button id='login_btn' type="submit" role="button">
                Submit
            </button>
        </form>

    </div>


    <script>
        src="/javascripts/loginscripts.js"
    </script>

    </body>
</html>
