
#card{
    margin: 2rem 0;
}

#add_btn{
    display: flex;
    justify-content: center;
    width: 100vw;
}

#add_btn button {
    width: 50vw;
    padding: 1.4em;
    margin: 4.4rem;
    background-color: #057dcd;;
    color: white;
    border-width: 0;
    cursor: pointer;
}