<div *ngIf="isAdmin()">
    <div id="add_btn">
        <button type="submit" (click)="addMed()">New Med</button>
    </div>
</div>


<mat-tab-group>
    <mat-tab label="Adult" *ngIf="medications">
        <div id="adult_card" class="card" *ngFor="let medication of medications">
            <app-medication-card *ngIf="medication.age == 'Adult'" [medication]="medication"></app-medication-card>
        </div>
    </mat-tab>

    <mat-tab label="Pediatric" *ngIf="medications">
        <div id="pediatric_card" class="card" *ngFor="let medication of medications">
            <app-medication-card *ngIf="medication.age == 'Pediatric'" [medication]="medication"></app-medication-card>
        </div>
    </mat-tab>
</mat-tab-group>



