
<div id="editMed">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Edit medication: {{medication_name}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form id="editMed_form" *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        
                <div class="form_fields">
                    <label>Classification</label>
                    <input type="text" formControlName="classification" placeholder="classification"
                        [ngClass]="{'is-invalid': submitted && values['classification'].errors}">
        
                    <div *ngIf="submitted && values['classification'].errors">
                        <div *ngIf="values['classification'].errors?.['required']">
                            Classification required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Name</label>
                    <input type="text" formControlName="name" placeholder="name"
                        [ngClass]="{'is-invalid': submitted && values['name'].errors}">
        
                    <div *ngIf="submitted && values['name'].errors">
                        <div *ngIf="values['name'].errors?.['required']">
                            Name required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Age</label>
                    <input type="text" formControlName="age" placeholder="age"
                        [ngClass]="{'is-invalid': submitted && values['age'].errors}">
        
                    <div *ngIf="submitted && values['age'].errors">
                        <div *ngIf="values['age'].errors?.['required']">
                            Age required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Contraindication</label>
                    <textarea type="text" formControlName="contraindications" placeholder="contraindications"
                        [ngClass]="{'is-invalid': submitted && values['contraindications'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['contraindications'].errors">
                        <div *ngIf="values['contraindications'].errors?.['required']">
                            Contraindications are required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Side Effects</label>
                    <textarea type="text" formControlName="side_effects" placeholder="side effects"
                        [ngClass]="{'is-invalid': submitted && values['side_effects'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['side_effects'].errors">
                        <div *ngIf="values['side_effects'].errors?.['required']">
                            Side effects required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Actions</label>
                    <textarea type="text" formControlName="actions" placeholder="actions"
                        [ngClass]="{'is-invalid': submitted && values['actions'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['actions'].errors">
                        <div *ngIf="values['actions'].errors?.['required']">
                            Actions required.
                        </div>
                    </div>
                </div>
        
                <div class="form_fields">
                    <label>Considerations</label>
                    <textarea type="text" formControlName="considerations" placeholder="considerations"
                        [ngClass]="{'is-invalid': submitted && values['considerations'].errors}"></textarea>
        
                    <div *ngIf="submitted && values['considerations'].errors">
                        <div *ngIf="values['considerations'].errors?.['required']">
                            Considerations required.
                        </div>
                    </div>
                </div>
        
                <div id="btns_div">
                    <button id="save_btn" type="submit" mat-raised-button>Save</button>
                    <button id="cancel_btn" type="submit" (click)="onCancel()" mat-raised-button>Cancel</button>
                </div>
        
            </form>
        </mat-card-content>
    </mat-card>
</div>