#not_user {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#user{
    width: 100vw;
    height: 100vh;
}

#empty_deck{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.med_flashcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

mat-card{
    box-shadow: 2px 2px;
    width: 75vw;
    margin: 2rem 0;
}

mat-divider{
    padding: 0.25rem 0;
}

.flashcard_btns_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.flashcard_btns{
    width: 7rem;
    height: 3.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: large;
    color: black;
}

.blur{
    filter: blur(8px)
}

.no_blur{
    filter: blur(0px);
}


@media screen and (max-width: 1250px){
    .flashcard_btns{
        width: 7rem;
        height: 2.5rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
        font-size: 14pt;
    }
}

@media screen and (max-width: 750px){
    mat-card{
        width: 95vw;
    }
    .flashcard_btns{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }


}


/*

.med_parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.flashcard_name_side{
    text-align: center;
}

.name_side_hidden{
    visibility: hidden;
}

.flip{
    backface-visibility: hidden;
    transition: all 1s;
    transform-origin: 50% 50% 0px;
    position: absolute;
}

#side_1{
    transform: rotateY(0deg);
}

#side_2{
    transform: rotateY(180deg);
}

.flip_side_1{
    transform: rotateY(0deg) !important;
}

.flip_side_2{
    transform: rotateY(180deg) !important;
}

*/

