<div id="not_user" *ngIf="!isLoggedIn()">
    <div class="sample_flashcard">
        <h1 id="not_user_title">You must be logged in to create a study deck.</h1>
        <h2><i>Sample Flashcard</i></h2>
        <mat-card appearance="outlined">
            <mat-card-header>
                <div id="med_name" class="no_blur">
                    <mat-card-title>
                        <p>Aspirin - Adult</p>
                    </mat-card-title>
                </div>
            </mat-card-header>
    
            <mat-card-content>
                <div class="flashcard_btns_div">
                    <button mat-raised-button id="prev_side2" class="flashcard_btns" type="submit">previous</button>
                    <button mat-raised-button id="toggle_btn" class="flashcard_btns" type="submit" (click)="toggleBlur()">show</button>
                    <button mat-raised-button id="next_side2" class="flashcard_btns" type="submit">next</button>
                </div>
                <div id="med_info" class="blur">  
                    <mat-divider></mat-divider>
                    <div>
                        <p><b>Indication(s): </b>Suspected MI </p>
                    
                        <div>
                            <p><b>Dose: </b>81mg - PO x4</p>
                            <p><b>Notes:</b></p>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
    
                    <p><b>Classification: </b>Antipyretic, Salicylate, Nonopioid analgesic </p>
                    <p><b>Contraindications:</b> Known hypersensitivity, patients with bleeding disorders.</p>
                    <p><b>Side Effects:</b> Tinnitus, GI bleeding, dyspepsia, epigastric distress, nausea, vomiting, abdominal pain, anemia, anaphylaxis.</p>
                    <p><b>Actions:</b> Decreases platelet aggregation.</p>
                    <p><b>Considerations:</b> Administer ASAP if TIA, stroke, or MI is suspected.</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div id="user" *ngIf="isLoggedIn()">
    <div id="empty_deck" *ngIf="deckEmpty">
        <h2>
            You have 0 flashcards.
        </h2>
        <h3>Visit the <a href="list-medications">Medications</a> page to build your study deck.</h3>
    </div>  
    
    <div class="user_flashcard" *ngIf="!deckEmpty">
        <mat-card appearance="outlined">
            <mat-card-header>
                <div id="med_name" class="no_blur">
                    <mat-card-title>
                        <p>{{showMed().name}} - {{showMed().age}}</p>
                    </mat-card-title>
                </div>
            </mat-card-header>
    
            <mat-card-content>
                <div class="flashcard_btns_div">
                    <button mat-raised-button id="prev_side2" class="flashcard_btns" type="submit" (click)="previousMed()">previous</button>
                    <button mat-raised-button id="toggle_btn" class="flashcard_btns" type="submit" (click)="toggleBlur()">show</button>
                    <button mat-raised-button id="next_side2" class="flashcard_btns" type="submit" (click)="nextMed()">next</button>
                </div>
                <div id="med_info" class="blur">  
                    <mat-divider></mat-divider>
                    <div *ngFor="let indication of showMed().indications_dose">
                        <p><b>Indication(s): </b>{{indication.indication}}: </p>
                    
                        <div *ngFor="let dose of indication.dose_and_route">
                            <p><b>Dose: </b>{{dose.dose}} {{dose.mu}} - {{dose.route}}</p>
                            <p><b>Notes:</b> {{dose.notes}}</p>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
    
                    <p><b>Classification: </b>{{showMed().classification}}</p>
                    <p><b>Contraindications:</b> {{showMed().contraindications}}</p>
                    <p><b>Side Effects:</b> {{showMed().side_effects}}</p>
                    <p><b>Actions:</b> {{showMed().actions}}</p>
                    <p><b>Considerations:</b> {{showMed().considerations}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<!--
    <div class="med_parent" *ngIf="flashCards[j] && !deckEmpty">

        <div id="side_1" class="flip">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <p class="name_side_hidden"><b>Name:</b></p>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <p class="name_side_hidden"><b>Age:</b></p>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                    <p class="name_side_hidden"><b>Indication(s) and dose:</b></p>
                    <h1 class="flashcard_name_side">{{showMed().name}}</h1>
                    <p class="flashcard_name_side"> {{showMed().age}}</p>

                    <p class="name_side_hidden">indication/dose</p>
                    <p class="name_side_hidden"><b>Contraindications:</b></p>
                    <p class="name_side_hidden"><b>Side Effects:</b></p>
                    <p class="name_side_hidden"><b>Actions:</b></p>
                    <p class="name_side_hidden"><b>Notes:</b></p>
                </mat-card-content>
            </mat-card>

            <div class="flashcard_btns_div">
                <button mat-raised-button id="prev_side1" class="flashcard_btns" type="submit" (click)="previousMed()">previous</button>
                <button mat-raised-button id="flip_card_front" class="flashcard_btns" type="submit" (click)="flipCardFront()">Flip</button>
                <button mat-raised-button id="next_side1" class="flashcard_btns" type="submit" (click)="nextMed()">next</button>
            </div>
        </div>

        <div id="side_2" class="flip">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <p>Classification: {{showMed().classification}}</p>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <p>{{showMed().age}}</p>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                    <mat-divider></mat-divider>
                    <div *ngFor="let indication of showMed().indications_dose">
                        <p><b>Indication(s): </b>{{indication.indication}}: </p>
                    
                        <div *ngFor="let dose of indication.dose_and_route">
                            <p><b>Dose: </b>{{dose.dose}} {{dose.mu}} - {{dose.route}}</p>
                            <p><b>Notes:</b> {{dose.notes}}</p>
                        </div>
                        <mat-divider></mat-divider>
                    </div>

                    <p><b>Contraindications:</b> {{showMed().contraindications}}</p>
                    <p><b>Side Effects:</b> {{showMed().side_effects}}</p>
                    <p><b>Actions:</b> {{showMed().actions}}</p>
                    <p><b>Considerations:</b> {{showMed().considerations}}</p>
                    <h1 class="name_side_hidden"> hide</h1>

                </mat-card-content>
            </mat-card>

            <div class="flashcard_btns_div">
                <button mat-raised-button id="prev_side2" class="flashcard_btns" type="submit" (click)="previousMed()">previous</button>
                <button mat-raised-button id="flip_card_back" class="flashcard_btns" type="submit" (click)="flipCardBack()">Flip</button>
                <button mat-raised-button id="next_side2" class="flashcard_btns" type="submit" (click)="nextMed()">next</button>
            </div>

        </div>
    </div>
-->
