#not_user {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#empty_deck{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.med_parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.name_side_hidden{
    visibility: hidden;
}

#flashcard_name_side{
    text-align: center;
}

.flashcard_btns_div{
    margin-top: 2rem;
}

.flashcard_btns{
    width: 10rem;
    height: 5rem;
    margin-bottom: 4rem;
    margin-left: 8rem;
    margin-right: 8rem;
    padding: 1rem;
    font-size: large;
    color: black;
    z-index: 2;
}

#title_top{
    text-align: center;
}

.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    margin-top: 2rem;
}

mat-radio-group{
    display: flex;
    flex-direction: column;
}

mat-card{
    box-shadow: 2px 2px;
}

.question_group{
    padding: 1rem;
    margin-top: 1rem;
    min-height: 50vh;
}

#quiz_submit_btn{
    width: 10rem;
    height: 5rem;
    margin-bottom: 4rem;
    font-size: large;
}

#user_result{
    text-align: center;
}

.question_answer{
    float: right;
}

.flip{
    backface-visibility: hidden;
    transition: all 1s;
    transform-origin: 50% 50% 0px;
    position: absolute;
}

#side_1{
    transform: rotateY(0deg);
}

#side_2{
    transform: rotateY(180deg);
}

.flip_side_1{
    transform: rotateY(0deg) !important;
}

.flip_side_2{
    transform: rotateY(180deg) !important;
}


@media screen and (max-width: 1250px){
    .flashcard_btns{
        width: 7rem;
        height: 2.5rem;
        margin-bottom: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        padding: 1rem;
        font-size: 14pt;
    }
}

@media screen and (max-width: 750px){
    .flashcard_btns{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

