a{
    text-decoration: none;
    color: black;
}

.page_div{
    min-height: 100vh;
    width: 100vw;
}

#img{
    background: url("../../assets/images/medical-5835701_1920.jpg");
    background: contain;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#landing_logged_out_div{
    height: 100vh;
    padding-left: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#landing_title{
    font-size: 55px;
    padding-bottom: 4.7rem;
}

#landing_subtitle{
    font-size: 24px;
}

#user_home_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card{
    width: 60vw;
    margin-top: 4rem;
    box-shadow: 1px 1px 1px 1px black;
}

mat-card-title{
    padding: 0 3rem;
}

mat-card-content{
    display: flex;
    flex-direction: column;
    align-content: space-around;

}

.info_divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
}

@media screen and (max-width: 1300px){
    #img{
        background: url("../../assets/images/medical-sm.jpg");
        background: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #landing_title{
        font-size: 45px;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 800px){
    #landing_logged_out_div{
        padding-left: 0.5rem;
    }

    mat-card{
        width: 95vw;
    }
    .page_div{
        min-height: auto;
    }
    .info{
        padding-left: 0.5rem;
    }
}