
<mat-accordion class="headers-align" multi>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{medication.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{medication.age}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p><b>Dose:</b> {{medication.dose}}</p>
        <p><b>Indications:</b> {{medication.indications}}</p>
        <p><b>Contraindications:</b> {{medication.contraindications}}</p>
        <p><b>Side Effects:</b> {{medication.sideEffects}}</p>
        <p><b>Actions:</b> {{medication.actions}}</p>
        <p><b>Notes:</b> {{medication.notes}}</p>
    </mat-expansion-panel>
</mat-accordion>




<div class="topics_card_container" *ngIf="!checkMed()">
    <div class="topic_card">
        <div class="topic_card_header">
            <h3 class="topic_card_title">{{medication}}</h3>
        </div>
        <div class="topic_card_body">
            <p><b>Age: </b></p>
            <p><b>Dose:</b></p>
            <p><b>Indications:</b></p>
            <p><b>Contraindications:</b></p>
            <p><b>Side Effects:</b></p>
            <p><b>Actions:</b></p>
            <p><b>Notes:</b></p>
        </div>
    </div>
</div>


<!--
<div class="action-buttons">
    <button mat-button (click)="accordion().openAll()">Expand All</button>
    <button mat-button (click)="accordion().closeAll()">Collapse All</button>
</div>
-->

<!--
<div class="topics_card_container" *ngIf="checkMed()">
    <div class="topic_card">
        <div class="topic_card_header">
            <h3 class="topic_card_title">{{medication.name}}</h3>
        </div>
        <div class="topic_card_body">
            <p><b>Age: </b>{{medication.age}}</p>
            <p><b>Dose:</b> {{medication.dose}}</p>
            <p><b>Indications:</b> {{medication.indications}}</p>
            <p><b>Contraindications:</b> {{medication.contraindications}}</p>
            <p><b>Side Effects:</b> {{medication.sideEffects}}</p>
            <p><b>Actions:</b> {{medication.actions}}</p>
            <p><b>Notes:</b> {{medication.notes}}</p>

            <div class="edit_delete" *ngIf="isLoggedIn()">
                <button id="edit_btn" *ngIf="isAdmin()" type="button" (click)="editMed(medication)">
                    Edit
                </button>
                <button id="delete_btn" *ngIf="isAdmin()" type="button" (click)="deleteMed(medication)">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
-->