
<div id="login">
    <form id="login_form" (ngSubmit)="loginSubmit()">
        <h2>Login</h2>

        <div *ngIf="formErrors">
            {{formErrors}}
        </div>

        <div class="form_fields">
            <input type="email" name="email" placeholder="Enter email"
                [(ngModel)]="user.email"/>
        </div>

        <div class="form_fields">
            <input type="password" name="password" placeholder="Enter password"
                [(ngModel)]="user.password"/>
        </div>

        <button type="submit" role="button">
            Submit
        </button>

    </form>
</div>
