h2{
    text-align: center;
    font-style: italic;
}

#login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /*background: url('../../assets/images/ambulance.avif');
    background-image: contain;*/
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    padding-bottom: 18rem;
}
.form_fields{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    label{
        font-weight: bold;
        text-align: center;
    }
}

button{
    background-color: #057dcd;
    color: white;
    margin-top: 20px;
    height: 2.3rem;
}
